body
{
    background: linear-gradient(90deg, #513252, #CA4E79);
    text-align: center;
}

canvas
{
    margin-top: 16px;
}

label
{
    margin-top: 8px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 3vh;
    display: block;
}

.row
{
    display: flex;
    position: relative;
    flex-direction: row;
    margin-top: 24px;
    width: 100vw;
    justify-content: space-around;
    margin-bottom: 24px;
}

.btn
{
    background-color: white;
    border-radius: 50%;
    position: relative;
    width: 20px;
    height: 20px;
    padding: 1rem;
    border: 1px solid grey;
    opacity: .7;
}

#mobileControls
{
    display: none;
}

@media only screen and (max-width: 1000px )
{
    #mobileControls
    {
        display:flex;
    }
}